[submodule "third-party/jsonrpc"]
	path = third-party/jsonrpc
	url = ../jsonrpc.git
[submodule "third-party/websocketpp"]
	path = third-party/websocketpp
	url = ../websocketpp.git
[submodule "third-party/HighLatencyGPIO"]
	path = third-party/HighLatencyGPIO
	url = ../HighLatencyGPIO.git
[submodule "third-party/libmodbus"]
	path = third-party/libmodbus
	url = ../libmodbus.git
[submodule "third-party/pybind11"]
	path = third-party/pybind11
	url = ../pybind11.git
	branch = v2.2.3
[submodule "third-party/boost-tools"]
	path = third-party/boost-tools
	url = ../boost-tools.git
